body
{
	font-family: Tahoma, sans-serif;
	font-size:   12px;
	line-height: 15px;
}

table
{
	border-collapse: collapse;
	border-color:    black;
	font-size:       12px;
	spacing:         0px;
	padding:         0px;
}

td
{
	height:        20px;
	padding-left:  2px;
	border-top:    1px solid;
}

input
{
	font:   11px Tahoma, sans-serif;
	border: 1px solid gray;
}

input.ChecksAndRadios
{
	border-style:   none;
	vertical-align: middle;
}

select
{
	font:   11px Tahoma, sans-serif;
	border: 1px solid gray;
}

/*Early Provisioning*/
.title
{
	font-size:     20pt;
	font-weight:   bold;
	color:         #000000;
	padding-right: 0px;
}

/*New Record and Existing Record*/
.recordType
{
	font-size:    20px;
	font-weight:  bold;
	text-align:   center;
	border-style: none;
	border-color: #00FFFF;
	width:        50%;
}

/*background color for instructions block*/
.instructions
{
	background-color: #ffd432; /*school color #ffd432*/
	border-style:     none;
}

/*text column formatting*/
.firstTextColumn
{
	width: 163px;
}

.secondTextColumn
{
	width:        45px;
	padding-left: 11;
}

.thirdTextColumn
{
	width:       163px;
	border-left: 1px solid;
}

.fourthTextColumn
{
	width:        45px;
	padding-left: 11;
}

/*data column formatting*/
.firstDataColumn {}
.firstDataColumn input
{
	width: 150px;
}
.firstDataColumn select
{
	width: 150px;
}

.secondDataColumn {}
.secondDataColumn input
{
	width: 80px;
}
.secondDataColumn select
{
	width: 80px;
}

.thirdDataColumn {}
.thirdDataColumn input
{
	width: 150px;
}
.thirdDataColumn select
{
	width: 150px;
}

.fourthDataColumn {}
.fourthDataColumn input
{
	width: 80px;
}
.fourthDataColumn select
{
	width: 80px;
}